In [10]:
import requests
from pytube import YouTube

In [11]:
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
%matplotlib inline

In [12]:
youtube_api_key = 'AIzaSyCIoGnZWAmCR-8hPFNN4Sch7BgMEd0Hm6c'
q = 'alphago'
url = 'https://www.googleapis.com/youtube/v3/search'
cgtn_channel_id = 'UCgrNz-aDmcr2uuto8_DL2jg'

In [13]:
def gen_params(named_entity=None, channel_id=None):
    return {
        'q': 'alphago %s' % named_entity,
        'part': 'snippet',
        'key': youtube_api_key,
        'type': 'video',
        'maxResults': 50,
        'channelId': channel_id
    }

def get_num_results(named_entity, channel_id):
    r = requests.get(url, params=gen_params(named_entity=named_entity, channel_id=channel_id))
    results_json = r.json()
    return results_json['pageInfo']['totalResults']

In [33]:
entities = []
plain_counts = []
cgtn_counts = []
with open('./wordcounts/named_entity.count') as f:
    lines = f.read().splitlines()
with open('./wordcounts/named_entity_search_results.count', 'w+') as f:
    for line in lines:
        try:
            entity = line.split()[1]
            plain_count = get_num_results(entity, None)
            cgtn_count = get_num_results(entity, cgtn_channel_id)
            f.write('\t'.join([entity, str(plain_count), str(cgtn_count)]) + '\n')
        except IndexError:
            continue

In [34]:
with open('./wordcounts/named_entity_search_results.count') as f:
    lines = f.read().splitlines()
    for line in lines:
        content = line.split('\t')
        entities.append(content[0])
        plain_counts.append(int(content[1]))
        cgtn_counts.append(int(content[2]))

In [35]:
plain_sum = sum(plain_counts)
plain_counts = [round(p / plain_sum * 100, 2 )for p in plain_counts]

In [36]:
plain_counts

[3.01,
 3.97,
 2.41,
 3.29,
 1.04,
 0.22,
 0.64,
 1.5,
 2.69,
 3.29,
 2.59,
 1.56,
 2.92,
 0.24,
 1.12,
 3.29,
 1.47,
 1.44,
 1.76,
 0.36,
 6.07,
 5.97,
 0.08,
 0.2,
 5.18,
 5.8,
 1.34,
 1.03,
 0.04,
 0.89,
 2.43,
 5.17,
 0.07,
 6.07,
 5.18,
 3.1,
 0.02,
 0.04,
 1.34,
 0.1,
 2.92,
 0.16,
 4.4,
 0.21,
 0.34,
 3.06]

In [37]:
cgtn_sum = sum(cgtn_counts)
cgtn_counts = [round(c / cgtn_sum * 100, 2) for c in cgtn_counts]

In [38]:
data = {'Plain': plain_counts, 'CGTN': cgtn_counts}
df = pd.DataFrame(data, entities, ['Plain', 'CGTN'])

In [39]:
df

            Plain  CGTN
one          3.01  1.88
DeepMind     3.97  1.02
Twitter      2.41  4.79
Lee          3.29  1.73
Korea        1.04  1.95
Stockfish    0.22  0.06
APP          0.64  4.79
China        1.50  4.29
Facebook     2.69  4.79
Lee          3.29  1.73
two          2.59  2.13
three        1.56  1.11
US           2.92  4.85
five         0.24  0.93
Chinese      1.12  3.83
Lee          3.29  1.73
today        1.47  0.71
second       1.44  1.11
Baduk        1.76  1.11
Instagram    0.36  2.47
Youtube      6.07  4.88
1            5.97  2.84
Seoul        0.08  0.34
Apple        0.20  4.79
Google       5.18  4.82
2            5.80  2.47
Ke           1.34  1.64
Korean       1.03  1.95
Tuesday      0.04  0.53
four         0.89  0.49
Zero         2.43  0.28
3            5.17  1.73
fourth       0.07  0.37
AlphaGO      6.07  4.88
2016         5.18  3.06
Artificial   3.10  1.48
CGTN         0.02  4.88
Arirang      0.04  0.00
Ke           1.34  1.64
Chris        0.10  0.22
U.S.         2.92  4.85
South        0.16  2.04
4            4.40  1.36
third        0.21  0.40
64           0.34  0.06
2018         3.06  0.99